name: Test and Deploy

on:
  push:
    branches:
      - master
      - dev
  pull_request:
    branches:
      - master

jobs:
  test:
    name: Test My Love Backend
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.14"

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: latest
          enable-cache: true

      - name: Install dependencies with uv
        run: uv sync --all-extras --dev

      - name: Set up .env file
        run: |
          touch .env
          echo '${{ secrets.ENV_FILE }}' > .env

      - name: Creating EC signing keys
        run: |
          chmod +x ./scripts/gen_keys.sh
          ./scripts/gen_keys.sh

      - name: Run tests
        run: uv run pytest ./app/tests

  deploy:
    needs: test
    if: github.ref == 'refs/heads/master'

    name: Deploy My Love Backend
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.14"

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: latest
          enable-cache: true

      - name: Install Ansible
        run: uv add ansible

      - name: Set up .env file
        run: |
          touch .env
          echo '${{ secrets.ENV_FILE }}' > .env

      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: ${{ secrets.SSH_KEY }}

      - name: Create .env file on server
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} "mkdir -p /var/www/my-love-backend"

          rsync -az --delete ./ ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }}:/var/www/my-love-backend

      - name: Create SSH key file
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_KEY }}" > ~/.ssh/deploy_key
          chmod 600 ~/.ssh/deploy_key

      - name: Generate inventory file
        run: |
          touch ./ansible/inventory/production.yml
          echo '${{ secrets.ANSIBLE_INVENTORY }}' > ./ansible/inventory/production.yml

      - name: Install Ansible collections
        run: |
          cd ansible
          ansible-galaxy collection install -r requirements.yml --collections-path ./collections

      - name: Run Ansible Playbook
        run: |
          cd ansible
          ansible-playbook playbook.yml --inventory ./inventory/production.yml --diff

      - name: Cleanup
        if: always()
        run: rm -f ~/.ssh/deploy_key ./ansible/inventory/production.yml
