name: Test and Deploy

on:
  push:
    branches:
      - master
      - dev
  pull_request:
    branches:
      - master

jobs:
  test-my-love-backend:
    name: Test My Love Backend
    runs-on: ubuntu-latest

    services:
      my-love-redis:
        image: redis:7-alpine
        ports:
          - 6379:6379
        options: --health-cmd "redis-cli ping" --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.13.5'

      - name: Install uv
        uses: astral-sh/setup-uv@v3
        with:
          version: "latest"

      - name: Install dependencies with uv
        run: |
          uv sync --all-extras --dev

      - name: Set up .env file
        run: |
          touch .env
          echo '${{ secrets.ENV_FILE }}' > .env

      - name: Creating EC signing keys
        run: |
          chmod +x ./scripts/gen_keys.sh
          ./scripts/gen_keys.sh

      - name: Run tests
        run: |
          uv run pytest app/tests

  deploy-my-love-backend:
    needs: test-my-love-backend
    if: github.ref == 'refs/heads/master'

    name: Deploy My Love Backend
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SSH_KEY }}

      - name: Set up .env file
        run: |
          touch .env
          echo '${{ secrets.ENV_FILE }}' > .env

      - name: Copy project to server
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} "mkdir -p ~/my-love-backend"
  
          rsync -az --delete ./ ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }}:~/my-love-backend

      - name: Deploy with Docker Compose
        run: |
          ssh ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} << EOF
            cd ~/my-love-backend

            chmod +x ./scripts/gen_keys.sh
            ./scripts/gen_keys.sh
            
            docker compose --env-file .env down --remove-orphans
            docker compose --env-file .env build --pull
            docker compose --env-file .env up -d --wait

            docker exec my-love-backend alembic upgrade head
          EOF
